/* fondo general */

body {
    background-color: #F5EDE4;
    color: #4A4A4A;
}


/* sidebar */

.sidebar {
    background-color: #FFFFFF;
    width: 250px;
    height: 100vh;
    border-right: 1px solid #eee;
}


/* menu */

.menu-item {
    color: #4A4A4A;
    padding: 10px;
    border-radius: 12px;
    display: block;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #FDECEF;
}


/* encabezado */

.encabezado {
    background-color: #FFFFFF;
    border-bottom: 1px solid #eee;
}


/* titulos */

.titulo-rosa {
    color: #F8B4C4;
}


/* botones */

.boton-rosa {
    background-color: #F8B4C4;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
}

.boton-rosa:hover {
    background-color: #f49aad;
}


/* tarjetas */

.card-custom {
    border: none;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 12px;
    transition: 0.2s;
}

.card-custom:hover {
    background-color: #FDECEF;
}

/* tarjetas login */

.card-custom-login {
    border: none;
    background-color: #F5EDE4;
    border-radius: 15px;
    padding: 12px;
    transition: 0.2s;
}

.card-custom-login:hover {
    background-color: #F8B4C4;
}


/* modal */

.modal-header {
    background-color: #FDECEF;
    border-bottom: none;
}

.navbar {
    padding: 10px 0;
}


/* usuario */

.usuario {
    background-color: #FDECEF;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
}


/* espacios */

.padding {
    padding: 20px;
}


/* badge */

.badge {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
}

/* eliminar */

.btn-eliminar {
    text-decoration: none;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 8px;
    transition: 0.2s;
}

.btn-eliminar:hover {
    background-color: #FDECEF;
    transform: scale(1.1);
}

/* login */

.card-login {
    width: 350px;
    border-radius: 15px;
}

/* navbar img */

.navbar img {
    width: 150px;
}

