{% extends "base_app.html" %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}

<h4 class="titulo-rosa mb-3 pt-5">Bandeja de entrada</h4>

<!-- boton -->
<button class="btn boton-rosa mb-3" data-bs-toggle="modal" data-bs-target="#modalTarea">
    <i class="fa-solid fa-circle-plus"></i> Añadir tarea
</button>

<!-- tarjeta -->
<div class="card-custom mb-2 d-flex justify-content-between align-items-center">
  <!-- IZQUIERDA -->
  <div class="d-flex align-items-center">
    <!-- CHECK -->
    <a href="#" class="me-2 text-decoration-none">
      <i class="fa-regular fa-heart fa-lg" style="color: #f8b4c4"></i>
    </a>

    <!-- TEXTO -->
    <div>
      <strong>Título de la tarea</strong>
      <br />
      <small>Descripción de la tarea</small>

      <div class="mt-1">
        <small class="text-muted">
          <i class="fa-solid fa-calendar-days"></i>
          20/04
        </small>
      </div>
    </div>
  </div>

  <!-- DERECHA -->
  <div class="d-flex gap-2">
    <!-- EDITAR -->
    <a href="#" data-bs-toggle="modal" data-bs-target="#editar1"> ✏️ </a>

    <!-- ELIMINAR -->
    <a href="#" class="btn-eliminar"> 🗑 </a>
  </div>
</div>

<!-- MODAL EDITAR (ESTÁTICO) -->
<div class="modal fade" id="editar1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar tarea</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form>
          <input
            type="text"
            class="form-control mb-2"
            value="Título de la tarea"
          />

          <textarea class="form-control mb-2">Descripción de la tarea</textarea>

          <input type="date" class="form-control mb-2" />

          <label>Estado</label>
          <select class="form-control mb-3">
            <option>Pendiente</option>
            <option>En progreso</option>
            <option>Completada</option>
            <option>Cancelada</option>
          </select>

          <button class="btn boton-rosa w-100">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MENSAJE VACÍO -->
<div class="card-custom text-center mt-3">
  <p>No tienes tareas aún</p>
  <i class="fa-solid fa-xmark fa-lg" style="color: #f8b4c4"></i>
</div>

<!-- MODAL CREAR TAREA -->
<div class="modal fade" id="modalTarea">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva tarea</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form>
          <input type="text" class="form-control mb-2" placeholder="Título" />

          <textarea
            class="form-control mb-2"
            placeholder="Descripción"
          ></textarea>

          <input type="date" class="form-control mb-2" />

          <label class="mb-1">Prioridad</label>
          <select class="form-control mb-3">
            <option>Normal</option>
            <option>Alta </option>
            <option>Media </option>
            <option>Baja </option>
          </select>

          <button class="btn boton-rosa w-100">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
