{% extends "base_publica.html" %}
{% block titulo %}Iniciar sesión{% endblock %}
{% block contenido %}

<div class="login-container">
  <div class="card-login bg-white p-4">
    <h4 class="titulo-rosa text-center mb-3">Bienvenida</h4>

    <div class="container mt-2">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
                                role="alert">
                                {{ message }} 
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>

    <form method="POST" action="{{ url_for('ValidaSesion') }}">
      <!-- correo -->
      <div class="mb-3">
        <label for="Email" class="form-label"></label>
        <input
          type="email"
          class="form-control"
          id="Email"
          name="Email"
          placeholder="Correo electrónico"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          value="{{ request.form.get('Email', '')}}"
          required
        />
      </div>

      <!-- contraseña -->
      <div class="mb-3">
        <label for="Contra" class="form-label"></label>

        <input
          type="password"
          class="form-control"
          id="Contra"
          name="Contra"
          placeholder="Contraseña"
          aria-describedby="passwordHelp"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Debe contener al menos un número, una mayúscula, una minúscula y al menos 8 caracteres"
          required/>
        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword()">
        </button>  
      </div>

      <!-- boton -->
      <button type="submit" class="btn boton-rosa w-100 mb-2">Entrar</button>
    </form>

    <!-- registro -->
    <div class="text-center">
      <small>¿No tienes cuenta?</small><br />
      <a href="http://127.0.0.1:5000/registro" class="titulo-rosa">Crear cuenta</a>
    </div>
  </div>
</div>

{% endblock %}
